#footer
  background: color-footer-background
  margin:10px 0 20px 0
  padding:6px 0;
  border-top: 1px dashed #ddd;
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em
  text-align:center;
